.top-toolbar {
    height: 26px;
}
textbox#editor-tabbox-toolbar-searchbox {
    border: 1px solid rgb(84, 109, 142);
}
tabpanels {
    -moz-border-top-colors: grey ThreeDHighlight;
    -moz-border-left-colors: transparent;
    -moz-border-right-colors: transparent;
    -moz-border-bottom-colors: transparent;
}