#QuickFoxNotes-toolbar-button{
    -moz-binding: url('chrome://qfnotes/content/editor/qfnToolbarbutton.xml#qfnToolbarbutton');
}
#QuickFoxNotes-tabmail-button,
#QuickFoxNotes-toolbar-button{
  list-style-image: url("toolbar.png");
  -moz-image-region: rect(0px, 20px, 16px, 4px);
}
toolbar[iconsize="large"] #QuickFoxNotes-toolbar-button {
  -moz-image-region: rect(17px, 24px, 40px, 0px);
}

#QuickFoxNotes-toolbar-button[cui-areatype="toolbar"]{
  -moz-image-region: rect(1px, 20px, 17px, 4px) !important;
}	
#QuickFoxNotes-toolbar-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #QuickFoxNotes-toolbar-button {
  -moz-image-region: rect(40px, 32px, 72px, 0px);
}
	
#QuickFoxNotes-toolbar-button>stack {
  display: none;
  -moz-box-sizing: border-box;
  margin: 0;
}

#QuickFoxNotes-toolbar-button>stack >label {
  -moz-box-sizing: border-box;

  font-size: 10px;
  padding: 0 3px;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 1px #EEF1F7;
  color: #900;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: inset 0px 0px 1px white;
  background-image: -moz-linear-gradient(
      center bottom,
      #DBE1EB 0%,
      #DEE4EB 80%,
      #E7EBF3 81%
  );
  border-width: 1px;
  border-style: solid;
  border-color: #B3BBC4 #9DA4AD #868D96 #9DA4AD;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3) inset,
              0 1px 0 rgba(180, 189, 202, 0.7),
              0 0 3px rgba(153, 0, 0, 0.9);
              
  margin: 4px -4px 0px 3px;
}

#quickfox-notes-status-iconTab {
  list-style-image: url("statusbar.png");
  -moz-image-region: rect(0px, 31px, 16px, 16px);
}
#quickfox-notes-status-iconWindow{
  list-style-image: url("statusbar.png");
  -moz-image-region: rect(0px, 15px, 16px, 0px);
}
#quickfox-notes-status-iconSidebar{
  list-style-image: url("statusbar.png");
  -moz-image-region: rect(0px, 47px, 16px, 32px);
}

.quickfox-menuitem-window {
  list-style-image: url("statusbar.png");
  -moz-image-region: rect(0px, 15px, 16px, 0px);
}
.quickfox-menuitem-tab {
  list-style-image: url("statusbar.png");
  -moz-image-region: rect(0px, 31px, 16px, 16px);
} 
.quickfox-menuitem-sidebar {
  list-style-image: url("statusbar.png");
  -moz-image-region: rect(0px, 47px, 16px, 32px);
} 

.quickfox-contextmenu {
  list-style-image: url("sendToQFN.png");
}

/*Taken from http://userstyles.org/styles/8008*/
menu[container="true"][label="QuickFox Notes"]>menupopup[placespopup="true"]>menuseparator:nth-last-child(-n+2),
menu[container="true"][label="QuickFox Notes"]>menupopup[placespopup="true"]>menuseparator:nth-last-child(-n+2) + menuitem   {
   display:none   !important;
}